*{
  font-family: 'Libre Baskerville', serif;
  /* transition: all 1s ease;
  animation: 1s ease-in 0s 1 slideInLeft; */
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
    
  }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: solid 5px;
}

table, th, td {
    border: 1px solid #ddd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

th, td {
    padding: 12px;
   /* text-align: center; */
   word-wrap: break-word;
   max-width: 200px;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */

/* tr:hover {
    background-color: #f5f5f5;
} */

  .sidebar p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 23px;
    position: relative;
    top: 5px;
    margin-right: 30px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    padding: 20px 0 0; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    line-height: 1;
    text-align: center;
  }
  .sidebar a{
    background-color: transparent;
    color: white;
    line-height: 2;
  }
  .sear{
    position: relative; top: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  .container {
    width: 100vh;
    height: 100%;
  }
  .inner{
    /* max-width: 1800px; */
    height: 100vh;
    width: 100%;
    /* margin: 0 auto;
    padding: 0; */
    box-sizing: border-box;
    /* border: 1px solid; */
    /* overflow: auto;  */
  }
  .searchCon, .searchCon1{
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
  }
  .searchCon1{
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }
  .searchCon input{
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  .searchCon button, .searchCon1 button{
    width: 90px;
    height: 44px;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .genPort{
    width: 100px !important;
    line-height: 1;
  }
  .searchCon button:hover{
    color: white;
    background-color: black;
    box-shadow: 2px 1px 4px 3px;
  }
  .reportGen{
    height: 600px;
    width: 800px;
    position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
    background: #333;
    padding: 20px;
  }
  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    justify-content: center;
    align-items: center;
     
     
 }
 .reportGen{
  background-color: rgba(216, 208, 208);
  border-radius: 8px;
  height: 900px;
  /* max-height: 1000px; */
  width: 1000px;
  padding: 10px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 120px;  
  overflow: auto;
 }
 .overlay img{
  float: right;
  margin-bottom: 20px;
}
.reportGen label{
  font-size: 19px;
  font-weight: bold;
}
.userHistory{
  background-color: rgba(216, 208, 208);
  border-radius: 8px;
  height: 800px;
  max-height: 1500px;
  width: 800px;
  padding: 10px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 120px;  
  overflow: auto;
}
.overlayHisto{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  justify-content: center;
  align-items: center;   
}
.divi{
  display: flex;
 align-items: center;
 justify-content: space-between;
 /* width: 100%; */
 padding: 0px 10px 0px 0px;
}
.userHisto{
  width: 100px;
  height: 44px;
  border-radius: 10px 10px 10px 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  display: none;
}
.userHisto:hover{
  color: white;
  background-color: black;
  box-shadow: 2px 1px 4px 3px;
}
.editButon {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}
.delButon {
 background-color: red;
 color: white;
 border: none;
 padding: 6px 12px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;
 cursor: pointer;
 border-radius: 4px;
}
.butoon{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#tableData{
  padding: 20px;
}
/* .form-control{
  
} */
/* [class*="form-control"]{
  background-color: #2b2a2aaf;
} */
.dashCont{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
}
.dashCont div{
  border-radius: 10px;
}
.graphCont{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.dataNum{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.dataNum div {
  border: solid 2px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tableOver{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  justify-content: center;
  align-items: center;   
}
.tableOver div{
  display: none;
  padding: 20px;
  align-items: center;
  width: 700px;
  height: 60%;
 overflow: auto;
  background: #f4f4f4ae;
  border-radius: 12px;
}
#contents{
  margin-left: 250px;
  transition: all 0.3s;
}
@media (max-width: 990px) {
#sidebar {
  margin-left: -250px;
  transition: all 0.3s;
}

#contents {
  margin-left: 0;
  transition: all 0.3s;
}
.navbar-nav {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #343a40;
  z-index: 1000;
  padding-bottom: 10px;
  padding: 5px;
}

}
.imager{
  width: 200px;
  height: 200px;
  border-radius: 120px;
  background-position: center;
  /* border: solid 2px; */
  opacity: 0.9;
  background-image: url(../image/meds.jpg);
  margin: 0 auto;
}
.medIn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-size: 23px;
  position: relative;
  top: 9px;
  margin-right: 30px;
  margin-left:auto;
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
.logoImg{
  /* background-image: url(../image/meds.jpg); */
  height: 35px;
  width: 35px;
  border-radius: 120px;
}
/* .dropdown-menu .cols {

} */
.dropdown-menu .rows {
  display: flex;
  flex-direction: row;
}
/* .dropdown-menu .dropdown-item {
  white-space: nowrap;
} */