*{
    font-family: 'Libre Baskerville', serif;
    transition: all 1s ease;
    animation: 1s ease-in 0s 1 slideInLeft;
}
@keyframes slideInLeft {
    0% {
      opacity: 0;
     
    }
    100% {
      opacity: 1;
      
    }
  }

/* .medForm input, .medTransac input{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
} */
.medForm h1, .medTransac h1{
    text-align: center;
}
.medForm{
    background-color: rgba(136, 134, 134, 0.785);
    border-radius: 8px;
    height: 500px;
    /* max-height: 1500px; */
    width: 800px;
    position: fixed;
    padding: 10px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 120px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    line-height: 25px;
    overflow-y: scroll;

  }
  .overlayMed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    justify-content: center;
    align-items: center;   
  }
.submitBut{
    display: flex; 
     justify-content: space-evenly; 
    padding: 20px;
    width: 100%;
    text-align: center;
}
.waylabot{
    display: flex; 
    justify-content: space-between; 
   padding: 20px;
   width: 100%;
   text-align: center;
}
.waylabot input{
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
/* select{
    width: 90%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
} */
/* .medForm label, .medTransac label{
    font-size: 18px;
    font-weight: bold;
} */

.submitBut input{
    width: 100px;
    font-size: 15px;
    border-radius: 5px; 
    text-align: center;  
    display: block;
    margin: 0 auto;
}
/* .add{
    color: white;
    background-color: green;
    box-shadow: 2px 1px 4px 3px;
   
}
.add:hover{
    background-color: white;
    color: green;
    
}
.update{
    color: white;
    background-color: skyblue;
    box-shadow: 2px 1px 4px 3px;
    
}
.update:hover{
    background-color: white;
    color: skyblue;
}
.delete{
    color: white;
    background-color: red;
    box-shadow: 2px 1px 4px 3px;
}
.delete:hover{
    background-color: white;
    color: red;
}
.clear{
    color: black;
    background-color: yellow;
    box-shadow: 2px 1px 4px 3px;
}
.clear:hover{
    background-color: white;
    color: yellow;
}
.Buy{
    color: white;
    background-color: skyblue;
    box-shadow: 2px 1px 4px 3px;
}
.Buy:hover{
    background-color: white;
    color: skyblue;
}
.cancel{
    color: white;
    background-color: red;
    box-shadow: 2px 1px 4px 3px;
}
.cancel:hover{
    background-color: white;
    color: red;
} */
.addMed{
  width: 100px;
  height: 44px;
  border-radius: 10px 10px 10px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.butons{
    display: flex;
    justify-content: space-evenly;
}
.overlaySup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    justify-content: center;
    align-items: center;   
  }
  .supAdd{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 20px;
  }
  .medTransac{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    justify-content: center;
    align-items: center;   
  }
  .transacForm{
    background-color: rgba(136, 134, 134, 0.785);
    border-radius: 8px;
    height: 500px;
    /* max-height: 1500px; */
    width: 800px;
    position: fixed;
    padding: 10px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 120px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    line-height: 25px;
    overflow-y: scroll;
  }
  .alertMessage{
    background-color: rgba(216, 208, 208);
    border-radius: 8px;
    height: 70px;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 120px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    line-height: 50px;
    color: red;
    font-size: 18px;
    font-weight: bold;
  }
  .alertOver{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    justify-content: center;
    align-items: center;   
  }
  .right{
    float: left;
    width: 50%;
  }
  .left{
    float: left;
    width: 50%;
  }